<ion-modal-view ng-controller="Oauth2Controller" >
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
    <ion-content>
        <div>
            <div class="padding">
                <button ng-click="login()" class="button button-block button-stable">
                    Sign In
                </button>
            </div>
        </div>
    </ion-content>
 
   
</ion-modal-view>
